#list {
  width: 80%;
  margin-left: 10%;
}
#newQuestion {
  margin:  18px 0;
  width: 100px;
  display: flex;
}
#addButton {
  fontSize: 15px;
  width: "137px";
  height: "37px";
  border-radius: "6px";
}
#searchButton {
  /* border-radius:"6px"; */
  position: absolute;
  right: 10%;
  display: inline-block;
  /* width: "600"; */
}
/* .customSelect :global .ant-input-group-wrapper ant-input-search ant-input-search-with-button {
  width: 350px;
  background-color: red ;
} */
